### Global
# choose a name for this search query
NAME=
# possible values: apa (apartments), roo (rooms)
SEARCH_TYPE=

### All housing

# int, min 0
MIN_PRICE=
# int, min 0
MAX_PRICE=
# y/n
CATS=
# y/n
DOGS=
# 1/0
PICS=
# int, min 0
LIMIT=

### Rooms

# 1/0
PRIVATE_ROOM=
# 1/0
PRIVATE_BATH=

### Apartments
# int, 1-12
HOUSING_TYPE=
# int, min 1
BEDROOM_NO=
